*,
 *::before,
 *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 body{
   background-color: rgba(220, 255, 243, 0.877); 
 }
 .container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 1rem;
    text-align: center;
    color:rgb(23, 20, 190);
    gap:1rem;
 }
 h1{
   align-self: center; 
 }
 .btn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
    font-size: 30px;
    gap:1.5rem; 
    font-family:Georgia, serif;
    width: 500px;
    
}
button{
    width: 100%;
    max-width: 700px;
    padding:0.5rem;
    color:rgb(23, 20, 190);
    font-size: 20px;
    border: 1px solid green;
    border-radius: 6px;
    background: linear-gradient(165deg ,#96ffd7, #6acfb9,  #3cca77);
}
button:hover{
background: rgb(255, 245, 190);
color: #12793d;
}
#result{
 width:500px ;
 text-align: justify;

}
#result > ul, li{
  list-style: none;
  font-size: 20px;
  padding: 1.5rem;
  gap:0.5rem;
  background-color: rgba(250, 255, 233, 0.705);
  border:1px solid green;
  border-radius: 9px;
}
.btnCerrar{
  width: 80px;
  padding:0.3rem;
  font-size: medium;
}